<mat-accordion *ngFor="let game of gameRounds">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ game.name }}
      </mat-panel-title>
      <mat-panel-description>
        {{ game.date }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ game.task }}</p>

    <b>Lösung:</b>
    {{ game.solution }}
    <p></p>
    <b>Richtig gelöst:</b>
    <div *ngFor="let win of game.winner">
      {{ win }}
    </div>
  </mat-expansion-panel>
</mat-accordion>
