<div *ngFor="let game of gameRounds">
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Aufgabe {{ game.name }}</mat-card-title>
      <mat-card-subtitle>{{ game.date }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{ game.task }}
      <p></p>
      <h4>Lösung:</h4>
      {{ game.solution }}

      <p></p>
      <h4>Richtig gelöst:</h4>
      <div *ngFor="let win of game.winner">
        {{ win }}
      </div>
    </mat-card-content>
  </mat-card>
</div>
