<mat-accordion *ngFor="let game of gameRounds">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ game.name }}
      </mat-panel-title>
      <mat-panel-description>
        {{ game.date }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div [innerHTML]="game.task"></div>

    <p>
      <span *ngIf="!game.solution">
        <a mat-raised-button color="primary" href="https://wa.me/4917645965810">
          Lösung senden <mat-icon aria-hidden="false">share</mat-icon>
        </a>
      </span>
    </p>
    <b>Lösung:</b>
    <div [innerHTML]="game.solution"></div>

    <p></p>
    <b>Richtig gelöst:</b>
    <mat-chip-list>
      <mat-chip *ngFor="let win of game.winner">
        {{ win }}
      </mat-chip>
    </mat-chip-list>
  </mat-expansion-panel>
</mat-accordion>
